@use '../variables'

.wrap-in
    flex-direction: column

.icon
    margin-bottom: 3px

.card
    height: 60vh
    width: 100%
    padding: 5px
.c-card
    height: 60vh
    width: 100%
    margin-bottom: 50px

@media (min-width: 481px)
    .card
        height: 60vh
        width: 100%

    .c-card
        height: 60vh
        width: 50%

@media (min-width: 821)
    .card
        height: 60vh
        width: 100%

    .c-card
        height: 100%
        width: 50%

@media (min-width: 1025px)
    .card
        height: 60vh
        width: 100%

    .c-card
        height: 60vh
        width: 30%

@media (min-width: 1281px)
    .card
        height: 60vh
        width: 100%

    .c-card
        height: 60vh
        width: 30%


.cardName
    font-size: 20px
    font-family: variables.$font-title
    text-align: center
    font-weight: bold

.card-body
    text-align: center
    height: 100%

.c-chart
    height: 50%