.container-main
    display: flex

.containerRegister
    display: flex
    height: 100vh
    width: 50%
    background-color: #fff
    justify-content: center

.logo    
    display: flex
    height: 20vh
    align-items: center
    justify-content: center
    width: 100%
    font-size: 3em
    margin-top: 30px
    font-family: 'Cormorant Garamond', serif
    margin-left: -20px
    
.welcomeField
    justify-content: center
    flex-wrap: wrap
    margin-top: -45px

.welcome
    width: 100%
    text-align: center
    font-size: 60px
    font-family: 'Bebas Neue', sans-serif
    color: #318EAA

.to-alr
    font-size: 20px
    font-family: 'Urbanist', sans-serif
    font-weight: bold
    text-align: center

.sign-in-google-field
    margin-top: -30px
    display: flex
    width: 100%
    align-items: center
    justify-content: center

.fields-container
    margin-top: -30px

.fields
    display: flex
    justify-content: center
    margin-bottom: 20px
    ::-webkit-input-placeholder
        text-align: center
        font-family: 'Cabin', sans-serif
    
.cpus
    -moz-appearance: textfield
    appearance: textfield
    -webkit-appearance: none

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button 
        -webkit-appearance: none
        margin: 0

.containerImage
    width: 50%
    height: 100vh
    background-image: url('../../img/Image.png')
    background-size: cover
    background-repeat: no-repeat

.imgLogo
    width: 120px
    height: 100px

.remember-me
    display: flex
    align-items: center
    margin-left: 13vw
    margin-top: -10px
    margin-bottom: 10px
    font-family: 'Cabinet', sans-serif

    .form-check-input
        border-color: black
    .form-check-label
        margin-top: 5px
        font-size: 14px

.register-btn-field
    display: flex
    justify-content: center

    .register-btn
        text-align: center
        padding: 10px
        border-radius: 10px
        background-color: #0078D6
        width: 48%
        color: #fff
        cursor: pointer
        font-family: 'Cabin', sans-serif
        &:hover
            background-color: #0288ee

.have-account
    text-align: center
    margin-top: 10px
    font-family: 'Cabin', sans-serif
    
    span
        color: #5C5DE1
        cursor: pointer
        &:hover
            color: #5151be
            